:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3
}

body {
    margin: 0px;
}

.encabezado{
    text-align: center;
    background-color: blueviolet;
    color: yellowgreen;
}

/*Barra de navegación*/
.nav-b{
    background-color: black;
}

.navbar {
    font-size: 2rem;
    font-weight: 500;
}
.navbar a{
    color: var(--primario);
    text-align: right;
}
/*Seccion de bienvenida*/

.hbienvenida{
    color: bisque;
    text-align: center;
}

html{
    background-color: blueviolet;
}

.textbvn{
    text-align: center;
    background-color: blanchedalmond;
}