img{
    height: 300px;
    width: 300px;
}

h2{
    text-align: center;
    font-family: 'Playpen Sans';
    font-size: 2rem;
}

.parenc{
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-style: italic;
    font-size: 1.8rem;
}

.cebv{
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: italic;
    font-size: 1.3rem;
}
h3{
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: bold;
    font-size: 1.7rem;
}

h4{
    font-family: 'Noto Sans';
    font-size: 1.8rem;
    font-weight: normal;
}
/*Centrar listas*/
ul{
    text-align: left;
    display: inline-block;
}
ol{
    text-align: center;
   
}
.contenedor{
    text-align: center;
}

p{
    font-size: 1.3rem;
}

a{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--oscuro);
}
li{
    font-family: 'Noto Sans';
    font-style: italic;
}